
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plataforma digital para emprestar livros no Brasil, funciona bem facil: você pega um livro e cadastra um novo para doar dentro da plataforma.">
    <meta name="keywords" content="Livros, doação de livros, emprestar livros, pegar livros emprestados, ler">
    <meta name="author" content="Thiago de Melo Lima">
    <link rel="icon" type="image/x-icon" href="/images/icone.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LIVRO-A-LIVRO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>
<body>
    @RenderBody()

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
